.StartYourJourney {
    background-color: #f6f6f6;
    padding: 0px 30px 55px 30px;
    margin: 0px -20px;
}

.StartYourJourney h1 {
    font-size: 32px;
    margin-block: 0px 48px;

}

/* Can't understand spacing problem between ReliableTech
And this one. */