/* Why is there a gap between svg and intro? */

.Servers img {
    width: 100%;
    height: 100%;
    padding-top: 90px;
}

.Servers h1 {
    font-size: 22px;
    line-height: 1.15em;
}

.Servers p {
    padding-top: 10px;
    padding-bottom: 55px;
    line-height: 1.75;
}